.no-padding{
  padding: 0 !important;
  margin: 0 !important;
}
.centered-content{
  margin: auto 0 !important;
}
/* Header css */
.header{
border-color: #d6d6d6;
border-bottom-style: solid;
  border-bottom-width: 2px;
  background-color: #ffffff;
  position: fixed;
  width: 100%;
  z-index: 999;
  top: 0;
}
.blog-header {
  line-height: 1;
}

.blog-header-logo {
  font-size: 2.25rem;
}
.text-logo{
  color: #FFFF00;
  text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
  font-weight: 700;
  font-family: monospace;
}
.text-logo:hover{
  color: #ebe939;
}

.blog-header-logo:hover {
  text-decoration: none;
}
.display-4 {
  font-size: 2.5rem;
}
@media (min-width: 768px) {
  .display-4 {
    font-size: 3rem;
  }
}
.img-responsive{
  height: 40px;
  cursor: pointer;
}

.nav-scroller {
  position: relative;
  z-index: 2;
  height: 2.75rem;
  overflow-y: hidden;
}

.nav-scroller .nav {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap;
  padding-bottom: 1rem;
  margin-top: -1px;
  overflow-x: auto;
  text-align: center;
  white-space: nowrap;
  -webkit-overflow-scrolling: touch;
}

.nav-scroller .nav-link {
  padding-top: .75rem;
  padding-bottom: .75rem;
  font-size: .875rem;
}
.nav > a{
  text-decoration: none;
  color: black;
  font-weight: 500;
}
.nav > a:hover{
  text-decoration: none;
  color: black;
}

/* Add Banner Css */
.AddBanner{
  background: #003366;
  text-align: center;
  color: #ffffff;
  padding: 1.5rem 0;
  margin-top: 10rem;
}
.add-text{
  font-weight: 700;
}
.online-card{
  background: rgb(130, 230, 225);
  color: #003366;
  padding: 10px 20px;
  font-weight: 600; 
  display: block;
}

/* Slider css */
.cssSlider {
  width: 100%;
	height: 400px;
	overflow: hidden;
  border: 1px solid #ffffff;
  border-radius: 8px;
}

.sliderImages {
	width : 55000px;
	height: 400px;
	overflow: hidden;
	
	/* animation duration: 16s : 5x ~3s display image + 5x ~0.2s slide */
	animation: slide 16s infinite;
	-moz-animation: slide 16s infinite;
	-webkit-animation: slide 16s infinite;
	-o-animation: slide 16s infinite;
}

.sliderImages img {
	float: left;
}
.si{
  width: 1360px;
}
.clear{
  clear:left;
}
@keyframes slide{
	0%{margin-left: 0px;}
	17%{margin-left: 0px;}
	20%{margin-left: -1360px;}
	37%{margin-left: -1360px;}
	40%{margin-left: -2720px;}
	57%{margin-left: -2720px;}
	60%{margin-left: -4080px;}
	77%{margin-left: -4080px;}
	80%{margin-left: -5400px;}
	100%{margin-left: -5400px;}
  100%{margin-left: 0px;}
}

@-moz-keyframes slide{
	0%{margin-left: 0px;}
	17%{margin-left: 0px;}
	20%{margin-left: -1360px;}
	37%{margin-left: -1360px;}
	40%{margin-left: -2720px;}
	57%{margin-left: -2720px;}
	60%{margin-left: -4080px;}
	77%{margin-left: -4080px;}
	80%{margin-left: -5400px;}
	100%{margin-left: -5400px;}
}

@-webkit-keyframes slide{
	0%{margin-left: 0px;}
	17%{margin-left: 0px;}
	20%{margin-left: -1360px;}
	37%{margin-left: -1360px;}
	40%{margin-left: -2720px;}
	57%{margin-left: -2720px;}
	60%{margin-left: -4080px;}
	77%{margin-left: -4080px;}
	80%{margin-left: -5400px;}
	100%{margin-left: -5400px;}
}

@-o-keyframes slide{
	0%{margin-left: 0px;}
	17%{margin-left: 0px;}
	20%{margin-left: -1360px;}
	37%{margin-left: -1360px;}
	40%{margin-left: -2720px;}
	57%{margin-left: -2720px;}
	60%{margin-left: -4080px;}
	77%{margin-left: -4080px;}
	80%{margin-left: -5400px;}
	100%{margin-left: -5400px;}
}

/* Top Deal Css */
.deal-img{
  height: 16rem;
}
.deal-content{
  background-color: #f7f7f7;
  border-top: 4px solid;
  border-color: #ed7002;
  display: flex;
  flex-direction: row;
}
.deal-text-content{
  margin: auto 0;
}
/* feature deal css */
.product-card{
  cursor: pointer;
  text-align: center;
}
.prd-card:hover{
  border-radius: 5px;
    box-shadow: 0 2px 10px 0 rgba(138,168,230,.2);
    transition: box-shadow .3s ease,-webkit-transform .3s ease;
    transition: transform .3s ease,box-shadow .3s ease;
    transition: transform .3s ease,box-shadow .3s ease,-webkit-transform .3s ease;
    border: 1px solid rgba(0,0,0,.125);
}
.card-image{
  height: 160px;
}
.price{
  color: #B12704;
  font-weight: 700;
}
.product-desc:hover{
  color: #05a;
  text-decoration: underline;
}

/* trending css */
.trending-content{
  cursor: pointer;
}
.img-trending{
  width: 100%;
  border-radius: 8px;
  height: 180px;
}
.trending-text{
  text-align: center;
  font-weight: 700;
}
.trending-text h5{
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}
.trending-text > p:hover{
  cursor: pointer;
  color: #05a;
  text-decoration: underline;
}
@media screen and (min-width: 650px) {
  .mt-even{
    margin-top: 100px;
  }
  .mt-odd{
    margin-top: 50px;
  }
}

/* Brands Css */
.brand-logo{
  text-align: center;
  margin: .75rem 0;
  cursor: pointer;
}
.brand-logo-img{
  height: 3rem;
  -webkit-filter: grayscale(100%); 
  filter: grayscale(100%);
  transition: filter .3s ease-in-out;
}
.brand-logo-img2{
  width: 8rem;
  -webkit-filter: grayscale(100%); 
  filter: grayscale(100%);
  transition: filter .3s ease-in-out;
}
.brand-logo-img:hover{
  -webkit-filter: grayscale(0%); /* Safari 6.0 - 9.0 */
  filter: grayscale(0%);
}
.brand-logo-img2:hover{
  -webkit-filter: grayscale(0%); /* Safari 6.0 - 9.0 */
  filter: grayscale(0%);
}